.ipynb_checkpoints
.DS_Store
port_*.txt
rl/*
logs_exec/*
trained_models/*
logs/*
logs.txt
logs_test/*
log_tb/*
record/*
*.gv
__pycache__/
*.py[cod]
*$py.class


test_results/*
logdir/*
dataset/watch_data*
dataset_*
init_reward/result/*
initial_environments/data/init_envs/*
*.p
rl/Player.log
init_reward/Player.log
rl/.nfs*
interface/Player.log
rl/logs.txt
visualization/*.mp4
*.sh
