.DS_Store
trained_models/*
*.png
logs/*
logs_test/*
log_tb/*
record/*
*.gv
*.pdf
__pycache__/
*.py[cod]
*$py.class
logdir/*
dataset_*
init_reward/result/*
initial_environments/data/init_envs/*
*.p
rl/Player.log
init_reward/Player.log
rl/.nfs*
interface/Player.log
rl/logs.txt
visualization/*.mp4
